@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background: linear-gradient(236.85deg, #844797 27.26%, #7272aa 96.03%);
  font-family: "Roboto", sans-serif;
}
.container {
  background: #f9f4f4;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  color: #1c1c1c;
  padding: 64px;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.perfil {
  display: flex;
  flex-wrap: wrap;
}
.perfil-foto {
  max-height: 160px;
  border-radius: 460px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}
.titulo {
  margin-left: 16px;
}
.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}
.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}
.tema button {
  align-self: flex-end;
  font-weight: 400;
  font-size: 24px;
  padding: 8px 16px;
  border-radius: 100px;
  background: #fff6fa;
  color: #2f0e2b;
  border: 2px solid #2f0e2b;
}
.portfolio {
  margin: 64px;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}
.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #dbd2ff 27.49%, #dbd2ff 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  margin-top: 32px;
  padding: 32px;
}
.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}
.projetos-item {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
}
.projetos a {
  text-decoration: none;
  color: #1c1c1c;
}
.projetos li {
  list-style-type: none;
  font-size: 20px;
  line-height: 2em;
}
.dark {
  background: linear-gradient(236.85deg, #41033c 27.26%, #6b3d73 96.03%);
}
.dark .container {
  background: #433e52;
  color: #f6f6f6;
}
.dark .projetos {
  background: linear-gradient(230.65deg, #6e62a0 27.49%, #bbb7ce 83.19%);
  color: #0e1d2f;
}
.dark .tema button {
  background: #433e52;
  border: 2px solid #f7f7f7;
  color: #f7f7f7;
}

@media (max-width: 800px) {
  .container {
    margin: 35px;
    padding: 35px;
  }
  .cabecalho {
    justify-content: center;
  }
  .titulo {
    margin: 0 auto;
  }
  .titulo h1 {
    font-size: 30px;
  }
  .titulo h3 {
    font-size: 20px;
  }
  .tema button {
    margin-top: 6px;
    font-size: 15px;
    padding: 6px 12px;
    background: #fff6fa;
    color: #2f0e2b;
    border: 1px solid #2f0e2b;
  }
  .projetos {
    margin-top: 16px;
    padding: 16px;
  }
  .projetos-titulo {
    font-size: 24px;
  }
  .projetos-item {
    font-size: 12px;
    line-height: 16px;
  }
}
